<div class="card text-dark bg-light mb-3">
    <div class="card-header">Clientes</div>
    <div class="card-body">
      <h5 class="card-title">Listado de clientes</h5>
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Fecha</th>
                <th>Editar</th>
                <th>Borrar</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.id}}</td>
                <td>{{cliente.name}}</td>
                <td>{{cliente.lastName}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.createAt}}</td>
                <td>
                  <button class="btn btn-primary" type="button" name="edit" [routerLink]="['/clientes/form', cliente.id]">Editar</button>
                </td>
                <td>
                  <button class="btn btn-danger" type="button" name="delete" (click)="delete(cliente)">Eliminar</button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-footer class="footer-relative"></app-footer>